# Django
*.pyc
__pycache__
db.sqlite3
.env
ai_app/__pycache__
ai_project/__pycache__
venv

# Next.js
frontend/node_modules
frontend/.next
frontend/.env.local

*.pyc
.DS_Store
*.ipynb
.ipynb_checkpoints/
debug.log
ai_project/__pycache__/settings.cpython-312.pyc